.header{
  display: block;
  background-color: red;

  .logo-header{
    width: 152px;
    float: left;
    margin: 31px 16px 0px 9px;
  }
  .btn-buy{
    background-color: #8d81ac;
    border-radius: 30px 30px 30px 30px;
    float: left;
    margin: 27px 33px 27px 30px;
    padding: 11px 42px;
      span {
        font-size: 15px;
        font-weight: bold;
        color: #fff;
        line-height:1.62em;
      }
  }
  .menu{
    font-size: 30px;
    float: right;
    padding-left: 20px;

      span{
        text-align: center;
      }
  }
}